@model Dept_Labour_Immi.Models.Penalty

@{
    ViewData["Title"] = "Edit";
}

<h2>ပြင်ဆင်ခြင်း</h2>

<h4>Penalty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromDate" class="control-label"></label>
                <input asp-for="FromDate" class="form-control" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todate" class="control-label"></label>
                <input asp-for="Todate" class="form-control" />
                <span asp-validation-for="Todate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="penaltyType" class="control-label"></label>
                @*  <input asp-for="penaltyType" class="form-control" />*@
                <select asp-for="penaltyType" class="form-control">
                    <option value="">Please Select</option>
                    <option value="ရာသက်ပန်ပိတ်">ရာသက်ပန်ပိတ်</option>
                    <option value="ယာယီပိတ်သိမ်း">ယာယီပိတ်သိမ်း</option>
                    <option value="လိုင်စင်အပ်နှံ">လိုင်စင်အပ်နှံ</option>
                    <option value="၀န်ခံကတိ">၀န်ခံကတိ</option>
                    <option value="၁ နှစ်">၁ နှစ်</option>
                    <option value="၆ လ">၆ လ</option>
                </select>
                <span asp-validation-for="penaltyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgencyID" class="control-label"></label>
                <select asp-for="AgencyID" class="form-control" asp-items="ViewBag.AgencyID">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="AgencyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="myButton" />
                <a asp-action="Index" class="myButton">Back to List</a>
            </div>
        </form>
    </div>
</div>
@*
<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
