@model Dept_Labour_Immi.Models.ServiceforThaiWorker


@{
    ViewData["Title"] = "BOD Create";
}

<h2>အသစ်ထည့်သွင်းခြင်း</h2>

<h4>Service for Thai Worker</h4>
<hr />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PinkCardServiceCount" class="control-label"></label>
                    <input asp-for="PinkCardServiceCount" class="form-control" />
                    <span asp-validation-for="PinkCardServiceCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CICardServiceCount" class="control-label"></label>
                    <input asp-for="CICardServiceCount" class="form-control" />
                    <span asp-validation-for="CICardServiceCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" id="btncreate" class="myButton" />
                    <a asp-action="Index" class="myButton">Back to List</a>
                </div>
            </form>
        </div>
    </div>
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-<strong>Error!</strong> danger" style="color:red ; font-weight:bold">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}


