@model Dept_Labour_Immi.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete User";
}

<h1 class="text-center">Delete Student</h1>

<div class="col-md-11 mx-5 row">
    <div class="form-group mb-3">
        <label asp-for="UserId" class="form-label"></label>
        <input asp-for="UserId" class="form-control" disabled />
    </div>

    <div class="form-group mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control" disabled />
    </div>
    <div class="form-group mb-3">
        <label asp-for="Role" class="form-label"></label>
        <input asp-for="Role" class="form-control" disabled />
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete Student" class="btn btn-danger position-relative" />
        <a class="btn btn-success position-relative" asp-action="Index">Back To List</a>
    </form>
</div>